/* general */
.prepend-top {
	margin-top:1.5em;
}

/* header */
#header {
	border-bottom: 2px solid #658A16;
	margin: 20px 0 0px;
    padding-bottom: 5px;
}

#header h1 {
	color: #658A16;
}

#header h1 small {
	color: #BACE87;
}

/* leftbar */
#leftbar h1 {
	border-bottom: 1px solid #EEEEEE;
    color: #4A8C04;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}
.submenu a {
    background-image: url("../images/background/submenua.gif");
    background-position: right center;
    background-repeat: no-repeat;
    border-bottom: 1px dashed #EEEEEE;
    text-decoration: none;
    display: block;
    padding: 5px 0 5px 5px;
    width: 100%;
}
.submenu a:hover,.submenu .active  {
    background-color: #EEEEEE;
    background-image: url("../images/background/submenua_hover.jpg");
    background-repeat: repeat-y;
}

/*main*/
#main h1 {
    border-bottom: 1px solid #EEEEEE;
    color: #4A8C04;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#main h2 {
    color: #728C40;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

#main h1,h2 {
	margin-bottom: 9px;
}
/* footer */
#footer {
	margin-bottom: 9px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 2px solid #658A16;
}

#footer a {color: #999;}

/********************************      Sidebar      ********************************/

#sidebar {
                background: url('../images/bg-sidebar.gif') top left no-repeat;
				width: 220;
                height: 100%;
                left: 0;
                top: 60;
                color: #888;
                font-size: 11px;
                }

#sidebar #sidebar-wrapper {
                margin: 0 0 0 9px;
                }

#sidebar a,
#sidebar a:active {
                color:#ccc;
                }

#sidebar a:hover {
                color:#fff;
                }

#sidebar #sidebar-title {
                margin: 40px 0 40px 15px;
                }

#sidebar #logo {
                margin: 40px 0 40px 0;
                }

#sidebar #profile-links {
                padding: 0 15px 20px 15px;
                text-align: left;
                line-height: 1.5em;
                }

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
                width: 196px;
                padding: 0;
                margin: 0 0 0 15px;
                font-family: Helvetica, Arial, sans-serif;
                }

#sidebar #main-nav li {
                list-style: none;
                padding-bottom: 10px;
                text-align: right;
                }
                
#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 15px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
                }

#sidebar #main-nav li a.current {
                background-image: url('../images/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: bold;
                }
                
#sidebar #main-nav li a.current:hover {
                color: #333;
                }

#sidebar #main-nav ul {
                padding: 0;
                font-size: 12px;
                margin: 0;
                }

#sidebar #main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
				padding: 0;
                }
#sidebar #main-nav ul li a {
                padding: 8px 15px;
                display: block;
                color: #aaa;
                font-size: 13px;
                line-height: 1.2em;
                }

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
                color: #fff;
                }

#sidebar #main-nav ul li a.current {
                background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
                }

